.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #000;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #000;
}
