.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #000;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #000;
}
.doctors {
}

@media (max-width: 1030px) {
  .doctors {
    display: grid !important;
    justify-items: start;
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
